<div id="login">
    <form name="mylogin">
        <label>
            <input type="radio" ng-model="loginuser.name" value="joerg" ng-change="login(loginuser.name)">
            Joerg
        </label>
        <label>
            <input type="radio" ng-model="loginuser.name" value="Susanne" ng-change="login(loginuser.name)">
            Susanne
        </label>
        <label>
            <input type="radio" ng-model="loginuser.name" value="Lena" ng-change="login(loginuser.name)">
            Lena
        </label>
        <label>
            <input type="radio" ng-model="loginuser.name" value="Heinz" ng-change="login(loginuser.name)">
            Heinz
        </label>
    </form>
</div>